html,body{ height: 100%}
.accordion li > a { display: block; position: relative; min-width: 110px; padding: 0 10px 0 20px; height: 35px; font-size: 15px; text-align: left; line-height: 35px;  }
.accordion > li > a{ padding-left: 0}
.accordion > li:hover > a{ cursor: default}
.accordion li > a span { display: block; position: absolute; top: 13px; right: 0; ; margin-right: 15px; width: 7px; height: 11px; }
.accordion > li > a.active span { background-position: 0 }
.accordion > li > a {border-bottom: 1px solid #C8DAE2}
.sub-menu li a { color: #666;  background: #fff; font-weight: normal }
.sub-menu li:hover a { background: #effdff }
.sub-menu li a.mactive{color:#d86767}
.sub-menu em { position:absolute;top:15px;left:2px;width:5px;height:5px; border-radius:5px;background:#aaa;overflow:hidden; }
.sub-menu .mactive em{ background: #d86767}
.breadcrumb { margin: 15px 0 }
.breadcrumb li { display: inline-block; margin-right: 2px; color: #888 }
.breadcrumb li a { color: #058 }
.breadcrumb li a:hover { color: #ff5e23 }
.breadcrumb li a:after { content: ">"; margin-left: 5px; color: #aaa }
.mybuy-icotype{ color:#ff5e23}
.b-i-tip{ font-size:20px; margin-bottom:20px}
.b-i-tip span{ margin-right:20px}
.b-i-tip b{ font-size:30px; color:#ff5e23; font-weight:200}
.zhu{color: #4a6b8a; font-size:12px;margin: 10px 0 0 5px;}
.ico-h-total span{ font-size:18px; margin: 0 15px;}
.ico-h-total b{ font-size:24px; color:#ff5e23}
.ico-h-total i{ color:#333; font-style:normal; font-weight:normal}
.ico-grid td{ text-align:right; padding:7px 0}
.ico-grid .a-left,.myico-grid td:first-child{ text-align:left}
.ico-grid thead tr td:first-child,.ico-grid thead tr td:last-child,.myico-grid td:first-child,.myico-grid td:last-child{padding:0 5px}
.f-d-info {min-height: 198px;}
.accordion li > a .umicon {width: 10px;margin: 0;color: #b5c6ce;padding: 6px;top: 5px;cursor: pointer;font-weight: 100; }
.accordion li > a .umicon:after { content: '-'; line-height: 14px; font-size: 24px; display: block }
.accordion li > a.menu-hide .umicon:after { content: '+';font-size: 18px; }
.accordion li > a .umicon:hover:after{ color:#84c4e2}
/*币币交易HEADER*/
.top-up a,.login_lan .lang-option,.top-up .ask_ans,.gateio-nav > li > a{ color: #dbe2e4}
div.top-up {float:right;width:auto;background:none;margin-top:6px;padding-left:0;}
div.top-dn {width:auto;height:45px;padding:0 20px;clear:none; float: none}
.gateio-nav >li >a .caret:before{color:#151b23 !important; }
.topprice{ display: none}
#logoWhite{ fill:#eee}
div.header {color: #aaa;background: #09162e;}
.dark-body div.header {color: #aaa;background: none;}
.header .caret:before{ color: #09162e}
.leftbar,.main_content{ border-top: none}
.leftbar{ min-height: 930px;position: relative}
.qqtel{ position: inherit; float: left;right: 10px;top: -6px;}
#funds_wrapper .dataTables_filter{ bottom: auto; top:-55px}
#funds_wrapper input{ width: 100%}
.dataTables_wrapper .dataTables_paginate,.dataTables_wrapper .dataTables_info{ padding-top: 15px}
.bind-phone{ margin-bottom: 15px; color: #de5959; font-weight: normal}
#funds td{ border: none}
#funds th:first-child b{ font-weight: bold}
#funds tr[data-id="zero"],.no-od{ color: #888}
.en-body .funds-dtl tr td:nth-child(5),.en-body .funds-dtl tr th:nth-child(5){ padding-right: 5px}
.table-inacc small{ color: #888}
.table-scroll{ min-height: 212px; overflow-y: auto}
.myfunds-dtl .table-scroll{ max-height: 268px;min-height:0}
.myacc-con form table td{ border: none}
form table td:first-child{ width: 30%;padding-right: 5px;}
.formbox form table td:first-child{ padding-right: 0}
#servTime{ opacity: 0}
.sectioncont #phone_number[readonly="readonly"]:focus{ border-color:#ccc !important }
.table-empty{ display: none}
.table-empty td{color: #888; padding: 30px 0; border: none}
.table-empty i{display: inline-block; width: 18px; height: 18px; line-height: 18px; font-style: normal; border-radius: 50%; border: 2px solid #ccc; color: #ccc; font-weight: bold; margin-right: 3px; resize: none}
.apikey-table textarea{ width: 98%;max-width: 98%;max-height:31px;min-width: 98%;min-height:31px; padding:10px; margin-top:5px;background: #eee;}
.apikey-table .js-copy{ display: block;float: left; height:42px;margin: 15px 10px 0 0;}
.apikey-table .copytip{ float: left; margin-top: 15px}
.apikey-table .sub-btn,.ref-ul .sub-btn{ padding: 10px 15px}
.apikey-table img{ width: 160px}
.apikey-table p{ margin-top: -20px}
.apikey-table td:nth-child(1){ width: 80%}
.apikey-table td:nth-child(2){ text-align: center}
.myacc-con .sectioncont .copytip{ padding: 0 0 10px;font-size: 16px; display: none}
/*最近充值、提现记录*/
.funds-dtl tr td:first-child,.funds-dtl tr th:first-child{width: 8%}
.funds-dtl tr td:nth-child(2),.funds-dtl tr th:nth-child(2){width: 15%}
.funds-dtl tr td:nth-child(3),.funds-dtl tr th:nth-child(3){width: 15%}
.funds-dtl tr td:nth-child(5),.funds-dtl tr th:nth-child(5){width: 10%}
.funds-dtl tr td:nth-child(6),.funds-dtl tr th:nth-child(6){width: 5%}
/*最账单明细*/
.purselog-con tr td:first-child,.purselog-con tr th:first-child{width: 5%}
.purselog-con tr td:nth-child(2),.purselog-con tr th:nth-child(2){width: 15%}
.purselog-con tr td:nth-child(3),.purselog-con tr th:nth-child(3){width: 14%}
.purselog-con tr td:nth-child(4),.purselog-con tr th:nth-child(4){width: 22%}
.purselog-con tr td:nth-child(5),.purselog-con tr th:nth-child(5){width: 22%}
.purselog-con tr td:nth-child(6),.purselog-con tr th:nth-child(6){width: 22%}
/*我的成交记录*/
.mytradehistory-con tr td:first-child,.mytradehistory-con tr th:first-child{width: 20%}
.mytradehistory-con tr td:nth-child(2),.mytradehistory-con tr th:nth-child(2){width: 7%}
.mytradehistory-con tr td:nth-child(3),.mytradehistory-con tr th:nth-child(3){width: 15%}
.mytradehistory-con tr td:nth-child(4),.mytradehistory-con tr th:nth-child(4){width: 20%}
.mytradehistory-con tr td:nth-child(5),.mytradehistory-con tr th:nth-child(5){width: 20%}
.mytradehistory-con tr td:nth-child(6),.mytradehistory-con tr th:nth-child(6){width: 18%}
/*我的C2C成交记录*/
.mytradehistory-con tr td:first-child,.mytradehistory-con tr th:first-child{width: 7%}
.mytradehistory-con tr td:nth-child(2),.mytradehistory-con tr th:nth-child(2){width: 10%}
.mytradehistory-con tr td:nth-child(3),.mytradehistory-con tr th:nth-child(3){width: 10%}
.mytradehistory-con tr td:nth-child(4),.mytradehistory-con tr th:nth-child(4){width: 10%}
.mytradehistory-con tr td:nth-child(5),.mytradehistory-con tr th:nth-child(5){width: 10%}
.mytradehistory-con tr td:nth-child(6),.mytradehistory-con tr th:nth-child(6){width: 10%}
.mytradehistory-con tr td:nth-child(7),.mytradehistory-con tr th:nth-child(7){width: 10%}
.mytradehistory-con tr td:nth-child(8),.mytradehistory-con tr th:nth-child(8){width: 10%}
.mytradehistory-con tr td:nth-child(9),.mytradehistory-con tr th:nth-child(9){width: 10%}
/*我的挂单*/
.myorders-con tr td:first-child,.myorders-con tr th:first-child{width: 20%}
.myorders-con tr td:nth-child(2),.myorders-con tr th:nth-child(2){width: 5%}
.myorders-con tr td:nth-child(3),.myorders-con tr th:nth-child(3){width: 10%}
.myorders-con tr td:nth-child(4),.myorders-con tr th:nth-child(4){width: 15%}
.myorders-con tr td:nth-child(5),.myorders-con tr th:nth-child(5){width: 15%}
.myorders-con tr td:nth-child(6),.myorders-con tr th:nth-child(6){width: 15%}
.myorders-con tr td:nth-child(7),.myorders-con tr th:nth-child(7){width: 10%}
/*日志*/
.logs-con tr td:first-child,.logs-con tr th:first-child{width: 5%}
.logs-con tr td:nth-child(3),.logs-con tr th:nth-child(3){width: 20%}
.logs-con tr td:nth-child(4),.logs-con tr th:nth-child(4){width: 20%}
.logs-con tr td:nth-child(5),.logs-con tr th:nth-child(5){width: 20%}
/*收款设置*/
#bindAli{ margin: 10px 0 0}
.payment-setup td label{ padding-top: 0}
.bind-acc-btn{ margin-top: 15px}
.payment-setup-con tbody tr:first-child td{ padding-bottom: 15px}
.bind_title h3{ font-size: 17px; font-weight: normal; margin-bottom: 25px;border-bottom: 1px solid #eee;padding-bottom: 10px;}
.payment-setup .deposit-table tbody{ border: none}
.payment-setup .i-z{ width: 128px;max-height: 195px;min-height: 128px;position: relative;margin-bottom: 10px;}
.payment-setup #file{ position: absolute; top:1px; left:1px; width: 100%;height: 100%; margin: 0; opacity: 0}
.payment-setup .sfz-img{  width: 100%;height: 100%;min-height: 128px;overflow: hidden; background:#eee;border: 1px solid #ccc;border-radius: 3px}
.payment-setup .sfz-img img{ width: 100%;max-height: 195px;min-height: 64px;text-align: center;line-height: 128px; color: #888; display: block}
#tableAli .sfz-img,#tableWechat .sfz-img{ background-image: url("/images/upcode.svg")}
.re-select{position: absolute;top: 0;left:0; width: 100%;height: 100%; text-align: center; z-index:2;display: none}
.re-select .r-btn{padding: 9px 13px;cursor: pointer;opacity: 0;margin-top: 50%;display: inline-block;}
.re-select:hover .r-btn{ opacity: 1}
.my-top-info{ margin: 25px 0 20px}
.my-top-info li{width: 25%; float: left; text-align: center; font-size: 24px; }
.my-top-info li h3{ font-size: 16px; font-weight: normal; margin-bottom: 10px}
.my-top-info li b,.my-top-info li strong{ font-weight: normal;color: #de5959}
.lv-prog{ text-align: center; margin-top: 15px; padding-bottom: 30px; position: relative}
#crFund i,#crFund{ font-style: normal; font-size: 16px;text-align: center}
#crFund i{ font-size: 20px}
.fund-top-small{ font-size: 14px; margin-top: 5px; color: #666}
.pro-dtl{ margin-left: 20px; color: #888; font-size: 12px; position: absolute;left: -15px;top: -20px; display: none}
.lv-prog:hover .pro-dtl{ display: inline-block}
.vol30-unit{ color: #666; font-style: normal;font-size: 14px;}
#fproBar span{white-space: nowrap;padding-top: 5px;display: inline-block;}
.has-pro-val b{color: #1cb69b;}
#wallet{ margin-top: 0}
.fund-tips{ font-size: 12px; color: #888;margin: 5px 0 -10px;}
.txt-memo{ font-family: "Microsoft Yahei",sans-serif;height: 80px;max-width: 50%;min-width: 50%; min-height:80px }
